{% load static %}
{% block nav %}
 <header>
    <nav class="navbar navbar-light bg-light nav-blog">
        <div class="container gap-2 d-md-flex justify-content-md-between">
            <a href="/posts/" class="navbar-brand logo">
                <img class="logo" src="{% static 'img/logo-blog.png' %}" alt="">
            </a>
            <ul class="nav nav-pills">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="btn btn-outline-success me-md-2" href="#">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-success text-ligth" aria-current="page" href="/auth/logout">Log out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-outline-success me-md-2" href="/auth/signup">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-success text-ligth" aria-current="page" href="/auth/login">Login</a>
                </li>
                {% endif %}    
            </ul>
        </div>
      </nav>
</header>
{% endblock %} 